.event {
  position: relative;
  padding-top: 40px;
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: inline-block;
  margin-top: 40px;
  padding: 3px 5px;
  padding-top: 8px;
  font-weight: bold;
  transition-duration: .5s;
  border-radius: 10px;
}

.back:hover {
  transform: scale(1.5);
  background: rgb(70, 130, 180);
  color: #fff;
}